<article class="post">
  <h4 class="post-title">
    <a href="{{ item.data.url }}">{{ item.data.title }}</a>
  </h4>
  <time class="post-date">{{ item.data.date | readableDate }}</time>
  <div class="post-decription">{{ item.data.description }}</div>
</article>
