<div class="cta">
  <p class="cta-text">{{ item.cta.cta_text }}</p>
  <a href="{{ item.cta.cta_url }}" class="cta-link" title="{{ item.cta.cta_btn_title }}">
    {{ item.cta.cta_btn_title }}
  </a>
</div>
