<a class="skip-link visually-hidden" href="#main-content">Skip to content</a>
<header role="banner" class="site-header">
  <span class="visually-hidden">{{ site.name }}</span>
  <div class="logo-wrap">
    <a href="/">
      <img src="/static/files/c4dc_logo_color.svg" alt="C4DC logo" class="logo">
    </a>
  </div>
  {% include "partials/nav.njk" %}
</header>
