.page-header {
  background-color: #003577;
  width: 100%;
}
.page-title {
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  max-width: 48rem;
  margin: 0 auto;
  padding: 3rem 1rem;
}
.page-content {
  max-width: 48em;
  margin: 0 auto;
  padding: 0 1rem 3rem 1rem;
}
